@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.summaryCard{
    display: flex;
    gap: 5%;
    margin-block: 0.5rem;
    margin-inline:1rem;
    //outline: 1px solid red;

    &__stat{
        min-width: 25%;
        width: 25%;
        //outline: 1px solid blue;
        text-align: center;
        //outline: 1px solid blue;

        &--info{
            min-width: 25%;
            width: 25%;
            // outline: 1px solid blue;
            background-color: #333;
            color:  $column-color;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 2%;
            text-align: center;
            vertical-align:middle;

            //outline: 1px solid blue;


        }
    }

    &__numb{
        width: 20%;
        min-width: 20%;
        text-align: center;
        //outline: 1px solid blue;

        &--info{
            width: 20%;
            min-width: 20%;
            //outline: 1px solid blue;
            background-color: #333;
            color: $column-color;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 2%;
            text-align: center;
            vertical-align:middle;
            @include tablet{
                width: 20%;
                min-width: 20%;
            }

        }
    }
}