
.summaryCard{
    display: flex;
    gap: 1rem;
    margin-block: 0.5rem;
    margin-inline:1rem;

    &__stat{
        min-width: 25%;
        width: 25%;
        //outline: 1px solid blue;
        text-align: center;

        &--info{
            min-width: 25%;
            width: 25%;
            // outline: 1px solid blue;
            background-color: #333;
            color: gold;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 2%;
            text-align: center;
            vertical-align:middle;

        }
    }

    &__numb{
        width: 20%;
        min-width: 20%;
        text-align: center;

        &--info{
            width: 20%;
            min-width: 20%;
            //outline: 1px solid blue;
            background-color: #333;
            color: gold;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 2%;
            text-align: center;
            vertical-align:middle;

        }
    }
}