@use './variables' as *;

//Mixins to set tablet and desktop width threshold
@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
      //margin-inline: $tablet-margin;

    }
  }
  
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
    //margin-inline: $desktop-margin;

  }
}


@mixin tablet-margin{
    margin-inline: $tablet-margin;
}

@mixin desktop-margin{
    margin-inline: $desktop-margin;
}

@mixin small-body-font {
  font-size: 0.6875rem;
  line-height: 1rem;
  @include tablet{
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}


@mixin medium-body-font {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  @include tablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin header-font{
  font-size: 1.75rem;
  line-height: 2.25rem;
  @include tablet{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin subheader-font{
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include tablet{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}