$tablet-width: 48rem;
$desktop-width: 80rem;


$tablet-margin: 1.5rem;
$desktop-margin: 2.5rem;

$background-color : #F7F8F9; 
$table-header-color : #5C667E; //Table column headers & placeholder text
$text-color : #13182C;
$interactive-color :rgb(50, 48, 47); //Interactive elements
$table-header-color : #5C667E; //Table column headers & placeholder text
$outline-color : #BDC5D5; //Outlines, dividers, borders, table sorting icon
$nav-hover-color : #232940; //Nav background,CTA button hover state background
$ok-color : #158463;
$error-color  : #C94515;

$footer-height: 2.5rem;