@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;



.leftContainer{
    background-image: url('../../assets/images/growth.png'), linear-gradient(rgba(50,50,50,0.5),rgba(50,50,50,0.5));
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 4/3;
    background-position: center center;
    
    @include tablet{
        width: 50%;
    }

    &__header{

        font: 900 60px Montserrat;
        padding-left: 1rem;
        padding-top: 0.8rem;
        color: transparent;

    }
    
    &__img{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 4/3;
        background-blend-mode: inherit;
    }
    
}

