@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tabsContainer{
    display: flex;
    gap:1rem;

    &__tab{
        background-color: grey;

        &--active{
            background-color: aquamarine;
        }
    }
}
