
.editPortfheading{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background-color: red;
    padding-top: 0.5rem;
}


.editContainer{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}