@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.modifyPortfolioContainer{
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.20);
    //margin-inline: 1rem;
    margin-bottom: 1rem;

}

.updtabsContainer{
    display: flex;
    justify-content: flex-end;
    // margin-inline: 1rem;
    // gap:1rem;
    // outline: 1px solid red;
    // border-bottom: 1px solid #444;

    @include tablet{
        // margin: 1.5rem;
        width: 100%;
    }


    &__tab{
        // background-color: grey;
        border: 1px solid #ddd;
        padding-inline: 0.5rem;
        background: $unactiveColor;
        color: #444;
        @include tablet{
            min-width: 10rem;
            width: 50%;
            padding-block: 0.5rem;
            padding-inline: 0px;
            //justify-content: center;
            text-align: center;
            //@include outline-for-testing(red);

        }

        &--active{
            background-color:  $activeColor;
            color: $tabs-active;
            font-weight: 700;
        }
    }
}

