@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.header{
    background-color: $background-color;
    background-color: $col-4;
    background-repeat: no-repeat;

    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: sticky;
    top: 0;

    @include tablet{
        padding-inline: $tablet-margin;
    }

    @include desktop{
        padding-inline: $desktop-margin;


    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-around;   


        &-text{
            font-size: 0.75rem;
            font-family: "Titillium Web";
            padding-inline: 1rem;
            color: $interactive-color;
            text-decoration: none;
            @include tablet{
                font-size: 1rem;
                font-family: "Titillium Web";
                padding-inline: 1rem;
            }

            @include desktop{
                font-size: 1.25rem;
            }
        }
    }
}

.logo-container{
    
    max-width: 5rem;

    @include tablet {
        max-width: 10rem;

    }

    &__img{

        max-width: 5rem;
        object-fit: cover;

        @include tablet {
            object-fit: cover;
            max-width: 10rem;
        }
    }

}

.image{
    max-width: 5rem;
    object-fit: cover;

    @include tablet {
        object-fit: cover;
        max-width: 10rem;
    }
}