@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.promoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-inline: 2rem;
    margin-top: 2rem;

    &__img{
        object-fit: contain;
        max-width: 100%;
        background-blend-mode: inherit;

    }

    background-color: transparent;

}

.promoHeader{
    color:  #32302F;
    text-align: center;
    margin-bottom: 1rem;
}