@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.MainContent{
    min-height: calc(100vh - $footer-height);
    margin-top: 6rem;

    @include tablet{
        margin-top: 5rem;

    }

    

}

.PromoContainer{
    background-color: transparent;
    margin-inline: 1rem;

    display: flex;
    flex-direction: column;

    
    @include tablet{
        flex-direction: row;
    }


    @include tablet{
        margin-inline: 2rem;
        border-radius: 0.1875rem;

    }

    @include desktop{
        margin-inline: 2rem;
        border-radius: 0.1875rem;
        max-width: 63.75rem;
        margin: 0 auto;

    }
}

.MainContainer{
    margin-inline: 1rem;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    
    @include tablet{
        flex-direction: row;
    }


    @include tablet{
        margin-inline: 2rem;
        border-radius: 0.1875rem;

    }

    @include desktop{
        margin-inline: 2rem;
        border-radius: 0.1875rem;

        max-width: 63.75rem;
        margin: 0 auto;

    }
}